@using trturino.GerenciadorGames.WebApps.WebMVC.Models
@model EmprestimoFormViewModel

<div asp-validation-summary="ModelOnly" class="box"></div>
<div class="row uniform">
    <div class="12u$">
        <div class="select-wrapper">
            <select asp-for="GameId"
                    asp-items="Model.GamesDisponiveis">
                <option value="-1">- Games -</option>
            </select>
        </div>
    </div>
    
    <div class="12u$">
        <ul class="actions">
            <li><input type="submit" value="Salvar" class="special"/></li>
        </ul>
    </div>
</div>